<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>遇見百分百的喵</title>
    
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <style>
    body{
      padding: 0px;
      margin: 0px;
    }
    .demo-bg {
      width: 100%;
      height: auto;
    }
    .demo-content {
      position: relative;
    }
    .post_title a{
      color:#ff9900;
      font-weight:bold;
      font-size: 2em;

    }
    .images{
      height: 150px;
      width: 100%;
      object-fit: cover;
    }

    .ellipsis {
      overflow:hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      white-space: normal;
    }
  </style>
  <script>
    $(function(){
      
      checkLoggedIn();
      //getAllAdoptArticles(1,true);
      function checkAdoptPostForm(){
          let title = $("#title").val();
          let city = $("#city").val();
          let area = $("#area").val();
          let catName = $("#catName").val();
          let catAge = $("#catAge").val();
          let contactInfo = $("#contactInfo").val();
          let catPersonality = $("#catPersonality").val();
          let catStory = $("#catStory").val();
          let catPicture = $("#catImg").attr("src");
          console.info(catPicture);
          if (!title){
            alert("標題不可空白!");
            return false;
          }

          if (!city){
            alert("所在縣市不可空白!");
            return false;
          }

          if (!area){
            alert("所在 區 / 市 / 鎮 / 鄉 (行政區)不可空白!");
            return false;
          }

          if (!catName){
            alert("貓貓名子不可空白!");
            return false;
          }
          if (!catAge){
            alert("貓貓的出生日（年齡）不可空白!");
            return false;
          }
          if (!contactInfo){
            alert("電話/聯絡方式不可空白!");
            return false;
          }
          if (!catPersonality){
            alert("貓貓個性略述不可空白!");
            return false;
          }
          if (!catStory){
            alert("貓貓的故事 / 詳細認養條件描述不可空白!");
            return false;
          }
          if(!catPicture){
            alert("請上傳貓貓的照片!");
            return false;
          }
          
          return true;
    }

      var mainContent = new Vue({
            delimiters: ['${', '}'],
            el: '#mainContent',
            data: {
                adoptPosts: '',
                currentPage: '',
                totalPage: '',
                previousPage: '',
                nextPage:'',
                postModal:''
            },
            methods:{
              doUpdatePost(){
                  if(!checkAdoptPostForm()){
                    return;
                  }
                  //alert("doUpdatePost()");
                  console.log(this.postModal);
                  axios({
                        method: 'PUT',
                        url: '/updateAdoptPost',
                        'Content-Type': 'application/json',
                        data: {
                          title: this.postModal.title,
                          area: this.postModal.area,
                          authorId: this.postModal.authorId,
                          catAge: this.postModal.catAge,
                          catName: this.postModal.catName,
                          catPersonality: this.postModal.catPersonality,
                          catStory: this.postModal.catStory,
                          city: this.postModal.city,
                          contactInfo: this.postModal.contactInfo,
                          id: this.postModal.id,
                          imgSrc: $("#catImg").attr("src") // v-bind is one way bind, change the value in element do not change data value
                        }
                     }).then( (res) => {
                        console.log(res);
                        if(res.data.errorCode !=0){
                          alert("編輯送養文失敗,原因:"+res.data.message);
                          return;
                        }
                        alert("更新成功!");
                        //location.href="/managePosts";

                        for(let i=0; i<this.adoptPosts.length;i++){
                            if(this.adoptPosts[i].id == this.postModal.id){
                                this.adoptPosts[i].title = this.postModal.title
                                this.adoptPosts[i].area = this.postModal.area
                                this.adoptPosts[i].authorId = this.postModal.authorId
                                this.adoptPosts[i].catName = this.postModal.catName
                                this.adoptPosts[i].catPersonality = this.postModal.catPersonality
                                this.adoptPosts[i].catStory = this.postModal.catStory
                                this.adoptPosts[i].city = this.postModal.city
                                this.adoptPosts[i].contactInfo = this.postModal.contactInfo
                                this.adoptPosts[i].imgSrc = $("#catImg").attr("src");
                                //this.adoptPosts[i].id = this.postModal.id
                                $("#postEditModal").modal("hide");
                                return
                            }
                          }
                     })
              },
                callModal(postId){
                  //alert(postId);
                  for(let i=0; i<this.adoptPosts.length;i++){
                    if(this.adoptPosts[i].id == postId){
                      this.postModal={
                        title: this.adoptPosts[i].title,
                        area: this.adoptPosts[i].area,
                        authorId: this.adoptPosts[i].authorId,
                        catAge: this.adoptPosts[i].catAge,
                        catName: this.adoptPosts[i].catName,
                        catPersonality: this.adoptPosts[i].catPersonality,
                        catStory:this.adoptPosts[i].catStory,
                        city:this.adoptPosts[i].city,
                        contactInfo:this.adoptPosts[i].contactInfo,
                        id:this.adoptPosts[i].id,
                        imgSrc:this.adoptPosts[i].imgSrc

                      }
                      console.log("postModal=",this.postModal);
                      return;
                    }
                  }
                },
                changePage(page){
                    axios.get("/getUserPosts?page="+page)
                    .then( (res) => {
                        console.log("res.adoptPosts=",res.data.adoptPosts);
                        this.adoptPosts = res.data.adoptPosts;
                        console.log("this.adoptPosts=",this.adoptPosts)
                        for(let i=0; i<this.adoptPosts.length; i++){
                            //this.adoptPosts[i].imgSrc = "asset/post_img/"+this.adoptPosts[i].id+".png"
                            this.adoptPosts[i].detailUrl = "/catHTMLVue?postId="+this.adoptPosts[i].id;
                        }
                        
                        this.currentPage = res.data.currentPage;
                        this.totalPage = res.data.totalPage;
                        this.previousPage = this.currentPage-1;
                        if (this.previousPage <1){
                            this.previousPage = 1;
                        }
                        this.nextPage = res.data.currentPage+1;
                        if (this.nextPage >this.totalPage){
                            this.nextPage = this.totalPage;
                        }

                        toTop();
                        
                    }); 
                },
                doDeletePost(postId){
                    var yes = confirm('確定刪除嗎？');

                    if (!yes) {
                        return;
                    } 
                    //alert("do delete post="+postId);
                    axios({
                        method: 'DELETE',
                        url: '/deleteAdoptPost',
                        'Content-Type': 'application/json',
                        data: {
                            postId: postId,
                        }
                    })
                    .then((result) => { 
                        console.log("result.data=",result.data)
                        if(result.data.errorCode != 0){
                            alert("刪除失敗,原因:"+result.data.message);
                            return;
                        }
                        alert("刪除成功!")
                        console.log("result.data.deletedPostId=",result.data.deletedPostId);
                        deletedPostId = result.data.deletedPostId;
                        for(let i=0;i<this.adoptPosts.length;i++){
                            console.log("this.adoptPosts[i].id=",this.adoptPosts[i].id);
                            console.log("deletedPostId=",deletedPostId)
                            if(this.adoptPosts[i].id == deletedPostId){
                                this.adoptPosts.splice(i,1);
                                return;
                            }
                        }
                    })
                    .catch((err) => { console.error(err) })
                }

            },
            mounted(){
                axios.get("/getUserPosts?page=1")
                .then( (res) => {
                    console.log("######## res=",res)
                    if(res.data.errorCode != 0){
                        alert(res.data.message);
                        location.href="/login";
                        return;
                    }
                    console.log("res.adoptPosts=",res.data.adoptPosts);
                    this.adoptPosts = res.data.adoptPosts;
                    console.log("this.adoptPosts=",this.adoptPosts)
                    for(let i=0; i<this.adoptPosts.length; i++){
                        //this.adoptPosts[i].imgSrc = "asset/post_img/"+this.adoptPosts[i].id+".png"
                        this.adoptPosts[i].detailUrl = "/catHTMLVue?postId="+this.adoptPosts[i].id;
                    }
                    
                    this.currentPage = res.data.currentPage;
                    this.totalPage = res.data.totalPage;
                    this.previousPage = this.currentPage-1;
                    if (this.previousPage <1){
                        this.previousPage = 1;
                    }
                    this.nextPage = res.data.currentPage+1;
                    if (this.nextPage >this.totalPage){
                        this.nextPage = this.totalPage;
                    }
                    
                }); 

                
            }
        })
    });
    
    function showImg(){
      let file = $('#catPicture').get(0).files[0];
      if(!file){
        console.log("no file!!!!!");
        $("#catImg").attr("src","");
        return;
      }
      var reader = new FileReader();
      reader.onloadend = function() {
        if(reader.result){
          //console.log('RESULT', reader.result)
          $("#catImg").attr("src",reader.result);
        }
      }
      reader.readAsDataURL(file);
    }
    
    function toTop(){
      var topH1 = document.getElementById("mainContent")
      document.documentElement.scrollTop=topH1.offsetTop 
      window.pageYOffset=topH1.offsetTop 
      document.body.scrollTop=topH1.offsetTop ;
   }

   
    function logout(){
      $.ajax({
              url: "/logout",   //存取Json的網址             
              type: "POST",
              cache:false,
              success: function (data) {
                  console.log(data);
                  location.href = "/"
              },

              error: function (xhr, ajaxOptions, thrownError) {
                  alert(xhr.status);
                  alert(thrownError);
              }
        });
    }
    function checkLoggedIn(){
      $.ajax({
              url: "/checkLoggedIn",   //存取Json的網址             
              type: "GET",
              cache:false,
              success: function (data) {
                  console.log(data)
                  if (data.errorCode == 0){
                      $("#usernameArea").html("Hi~~, "+ data.name);
                      $("#loginButton").hide();
                      $("#logoutButton").show();
                  }
              },

              error: function (xhr, ajaxOptions, thrownError) {
                  alert(xhr.status);
                  alert(thrownError);
              }
        });
    }
  
  
  </script>
 <body >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="nav-link" href="/" style="color:#ff9900;font-weight:bold;">遇見百分百的喵</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/about">關於本站 </a>
          </li>
          <li class="nav-item active" >
            <a class="nav-link" href="/postAdoptArticle">我要po送養文</a>
          </li>
          <li class="nav-item active" >
            <a class="nav-link" href="/managePosts">管理我的送養文</a>
          </li>
        </ul>
          <div id="usernameArea" style="padding-right: 20px;"></div>
          <button class="btn btn-danger my-2 my-sm-0" id="loginButton" onclick="location.href = 'login'">註冊/登入</button>
          <button id="logoutButton" style="display:none;" id="logoutButton" class="btn btn-danger" onclick="logout();">登出</button>
        
      </div>
    </nav>

    <!-- <div style="padding: 0px;margin: 0px;" class="container-fluid">
      <img
      class="demo-bg"
      src="asset/img/raise_cat3.jpg"
      alt=""
     >
    </div> -->


    <div id="mainContent" class="container" >
        <div class="row">
        <template v-for="(adoptPost,i) in adoptPosts">

            <div class="col-lg-4  col-sm-12" >
                <div class="container-fluid" style="padding-left: 0px;padding-top: 30px;">
                    <div class="row">
                        <div class="col-12"><a v-bind:href="adoptPosts[i].detailUrl" style="color:#ff9900;font-weight:bold;font-size: 1.2em;">${adoptPosts[i].title}</a> </div> 
                    </div>
                </div>      
                <div class="container-fluid">
                   <div class="row">
                       <div class="col-5" style="padding: 0px;">
                            <img class="images" v-bind:src="adoptPosts[i].imgSrc">
                       </div>
           
                       <div class="col-7" >
                            <div style="font-size: 0.8em;">${adoptPosts[i].city}</div>
                            <div style="font-size: 0.8em;"><span style="font-weight:bold;">${adoptPosts[i].catName}</span>, ${adoptPosts[i].catAge} </div>
                            <div class="ellipsis" style="font-size: 0.8em;">${adoptPosts[i].catStory}</div>
                            <div style="font-size: 0.8em;position:absolute; bottom:0; right:40px;">
                                <button  class="btn btn-light btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <b>Edit</b>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="$('#postEditModal').modal();" v-on:click="callModal(adoptPosts[i].id)">編輯</a>
                                    <a class="dropdown-item" href="javascript:void(0);" v-on:click="doDeletePost(adoptPosts[i].id)" >刪除</a>
                                </div>
                                <a v-bind:href="adoptPosts[i].detailUrl"><b>檢視貼文&gt;&gt;</b></a>
                            </div>
                        </div>
                   </div>
                </div>
            </div>

        </template>
        </div>

        <nav aria-label="..." style="margin-top:30px">
            <ul class="pagination">
               <li class="page-item">
                    <a class="page-link" v-on:click="changePage(previousPage);">Previous</a>
                </li>
                <template v-for="i in totalPage">
                    <template v-if="i != currentPage">
                        <li class="page-item"><a class="page-link" v-on:click="changePage(i);">${i}</a></li>

                    </template>
                    <template v-else>
                        <li class="page-item active">
                            <span class="page-link">
                            ${i}
                             <span class="sr-only">(current)</span>
                            </span>
                        </li>

                    </template>

                </template>

                <li class="page-item">
                    <a class="page-link" v-on:click="changePage(nextPage);">Next</a>
                 </li>
               </ul>
          </nav>


          

    <!-- Modal -->
    <div  class="modal fade bd-example-modal-lg" id="postEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><b>編輯送養文</b></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <form id="uploadForm" enctype="multipart/form-data">
                  
                    <div class="form-group">
                        <label for="title">標題:<p style="color:red;display: inline-block;margin-bottom: 0;">*</p></label>
                        <input v-model="postModal.title" type="text" class="form-control" name="title" id="title" placeholder="標題">
                    </div>
        
                    <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="city">所在縣市:<p style="color:red;display: inline-block;margin-bottom: 0;">*</p></label>
                        <input v-model="postModal.city" type="text" class="form-control" name="city" id="city" placeholder="所在縣市">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="area">所在 區 / 市 / 鎮 / 鄉 (行政區): <p style="color:red;display: inline-block;margin-bottom: 0;">*</p></label>
                        <input v-model="postModal.area" type="text" class="form-control" name="area" id="area" placeholder="所在 區 / 市 / 鎮 / 鄉 (行政區):">
                    </div>
                    </div>
                    <div class="form-group">
                    <label for="catName">貓貓名子:<p style="color:red;display: inline-block;margin-bottom: 0;">*</p></label>
                    <input v-model="postModal.catName" type="text" class="form-control" name="catName" id="catName" placeholder="貓貓名子">
                    </div>
                    <div class="form-group">
                    <label for="catAge">貓貓的出生日（年齡）:<p style="color:red;display: inline-block;margin-bottom: 0;">*</p></label>
                    <input v-model="postModal.catAge" type="text" class="form-control" name="catAge" id="catAge" placeholder="貓貓的出生日（年齡）">
                    </div>
                    
                    <div class="form-group">
                      <label for="contactInfo">電話/聯絡方式:<p style="color:red;display: inline-block;margin-bottom: 0;">*</p></label>
                      <textarea v-model="postModal.contactInfo" type="textarea" type="text" class="form-control" name="contactInfo" id="contactInfo" rows="3" cols="50"></textarea>
                    </div>
                    
                    <div class="form-group">
                      <label for="catPersonality">貓貓個性略述:<p style="color:red;display: inline-block;margin-bottom: 0;">*</p></label>
                      <textarea v-model="postModal.catPersonality" type="textarea" class="form-control" name="catPersonality" id="catPersonality" rows="5" cols="50"></textarea>
                    </div>
        
                    <div class="form-group" >
                        <label for="catStory">貓貓的故事 / 詳細認養條件描述:<p style="color:red;display: inline-block;margin-bottom: 0;">*</p> </label>
                        <textarea v-model="postModal.catStory" type="textarea" class="form-control" name="catStory" id="catStory" rows="5" cols="50"></textarea>
                    </div>
        
                    <div class="form-group">
                        <label for="catPicture">貓貓的照片:<p style="color:red;display: inline-block;margin-bottom: 0;">*</p></label>
                        <input  onchange="showImg();" type="file" accept=".jpg,.png" class="form-control" name="catPicture"  id="catPicture">
                    </div>
                    <div class="form-group">
                      <img id="catImg" v-bind:src="postModal.imgSrc" width="40%" height:auto/>
                    </div>
              
                </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" v-on:click="doUpdatePost();">儲存</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal end-->


        
    </div>


    <footer class="bg-light text-center text-lg-start" style="margin-top:30px">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright: Tsung-Lin Wu
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
